.App {
  height: 100vh;
  text-align: center;
}

.chatbot-button {
  border-radius: 50%;
}

.chatbot-chatbox {
  height: 20.25rem;
  width: 15.15rem;
  border: darkgreen 2px solid;
  display: flex;
  flex-direction: column;
}

.chatbot-msg-area {
  flex: 1
}

.chatbot-msg-pill {
  border-radius: 50%;
}

.chatbot-textbox {
  /* flex: 1 */
}