.App {
  height: 100vh;
  text-align: center;
}

.chatbot {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.chatbot-button {
  border-radius: 500px !important;
}

.chatbot-chatbox {
  height: 20.25rem;
  width: 15.15rem;
  border: darkgreen 2px solid;
  display: flex;
  flex-direction: column;
}

.chatbot-msg-area {
  flex: 1;
  overflow-y: auto;
}

.chatbot-msg-pill {
  border-radius: 50%;
}

.chatbot-textbox {
  /* flex: 1 */
}